<div style="position: relative;">
<img src="https://user-images.githubusercontent.com/7065401/98728503-5ab82f80-2378-11eb-9c79-adeb308fc647.png"></img>

<h1 style="color: white; position: absolute; top:27%; left:10%;">
     INE Bootcamp
</h1>
<h2 style="color: white; position: absolute; top:36%; left:10%;">
    Data Analysis, Visualization and Predictive Modeling
</h2> 

<h3 style="color: #ef7d22; font-weight: normal; position: absolute; top:58%; left:10%;">
    <b>David Mertz, Ph.D.</b>
</h3>

<h3 style="color: #ef7d22; font-weight: normal; position: absolute; top:63%; left:10%;">
    <b>Data Scientist</b>
</h3>
</div>

<div style="width: 100%; height: 200px; background-color: #222; text-align: center; padding-top: 20px; margin-bottom: 40px;">
<br><br>

<h1 style="color: white; font-weight: bold;">
    Advanced Pandas: Timeseries and Groupby (Solutions)
</h1>

<br><br> 
</div>

<img src="https://user-images.githubusercontent.com/7065401/75165824-badf4680-5701-11ea-9c5b-5475b0a33abf.png" style="width:200px; float: right; margin: 0 40px 40px 40px;"/>

The Pandas (Panel Data) Python library is a very powerful tool for data manipulation and analysis.  We will talk about it throughout several lessons of this bootcamp, and even assume familiarity with Pandas in later lessons. Here we look at some more advanced capabilities.

<div style="width: 100%; height: 200px; background-color: #ef7d22; text-align: center; padding-top: 20px; margin-bottom: 40px;">
<br><br>

<h1 style="color: white; font-weight: bold;">
    Exercises
</h1>

<br><br> 
</div>

In [1]:
import pandas as pd
# Read in from efficient parquet format
accounts = pd.read_parquet('data/accounts.parq')

<h2 style="font-weight: bold;">
    Look for pending events
</h2>

![orange-divider](https://user-images.githubusercontent.com/7065401/98619088-44ab6000-22e1-11eb-8f6d-5532e68ab274.png)

The membership department would like to send membership extension offers to all the over-50 years-old members who have accounts closed in the last six weeks, or that will close in the future.  They wish to prioritize their mailings by the account balance of each qualifying member (from highest to lowest balance).  Produce a DataFrame representing their desired information.

In [2]:
# your code here...

In [3]:
month_ago = pd.Timestamp.now() - pd.Timedelta(weeks=6)
(accounts
    .loc[(accounts.Account_Closed > month_ago) &
         (accounts.Age >= 60)]
    .sort_values('Balance', ascending=False)
)

,Age,Gender,Name,Favorite_Color,Favorite_Flower,Account_Opened,Account_Closed,Balance
5109,64,M,Michael,Yellow,Rose,2008-05-23 03:36:35,2021-07-14 20:40:40,199.4800
2926,89,M,Robert,Yellow,Rose,2017-03-31 00:16:03,2028-12-03 14:53:45,199.2600
4018,101,F,Ruth,Yellow,Lily,2019-09-13 10:38:59,2032-01-07 15:13:23,199.1800
1738,73,F,Barbara,Yellow,Violet,2008-02-21 22:17:18,2021-11-20 09:39:32,198.3800
4172,88,F,Barbara,Yellow,Orchid,2018-04-27 05:38:19,2032-04-03 21:59:02,197.2600
...,...,...,...,...,...,...,...,...
2886,70,F,Linda,Purple,Violet,2015-08-02 08:19:54,2024-01-25 00:17:23,0.8400
6097,74,M,Richard,Green,Rose,2015-10-03 21:51:07,2030-05-13 00:18:42,0.7200
565,83,F,Patricia,Green,Daisy,2013-05-13 07:22:09,2028-01-17 09:31:12,0.4575
2042,92,M,William,Yellow,Lily,2011-12-09 03:08:55,2021-03-05 21:12:56,0.3800
4914,87,F,Dorothy,Green,Lily,2019-02-19 13:40:11,2027-03-02 07:33:40,0.3450

<h2 style="font-weight: bold;">
    Grouping by month
</h2>

![orange-divider](https://user-images.githubusercontent.com/7065401/98619088-44ab6000-22e1-11eb-8f6d-5532e68ab274.png)


You will need to think a bit about combining things you have learned already to do this exercise.  We would like to know whether users who joined in different months tend to have different attributes.  Write a few lines of Pandas code to answer that question.  Consider that we have both numeric data for balance and age, and also categorical data for favorite flower and color. For categoricals, we might ask what is most common, for example.

In [4]:
# your code here...

In [5]:
accounts.groupby(accounts.Account_Opened.dt.month_name()).mean()

                      Age    Balance
Account_Opened
April           42.790123  60.035022
August          43.093458  59.316103
December        41.544061  61.736992
February        42.337398  56.010346
January         40.598911  60.233630
July            42.626594  58.364062
June            42.853933  61.123310
March           42.851301  58.408810
May             42.767152  57.656242
November        43.980392  57.594505
October         41.432337  58.440435
September       42.823887  62.395344

In [6]:
(accounts
    .groupby(accounts.Account_Opened.dt.month_name())
    .Favorite_Flower
    .agg(pd.Series.mode)
)

Account_Opened
April        Orchid
August       Orchid
December      Daisy
February     Violet
January      Violet
July         Orchid
June           Rose
March        Orchid
May           Daisy
November     Orchid
October      Orchid
September     Daisy
Name: Favorite_Flower, dtype: object

---
<div style="position: relative; text-align: right;">
<img src="https://user-images.githubusercontent.com/7065401/98614301-dcf01780-22d6-11eb-9c8f-65ebfceac6f6.png" style="width: 130px; display: inline-block;"></img>

<img src="https://user-images.githubusercontent.com/7065401/98864025-08deda80-2448-11eb-9600-22aa17884cdf.png" style="height: 100%; max-height: inherit; position: absolute; top: 20%; left: 0px;"></img>
<br>

<h2 style="font-weight: bold;">
    David Mertz, Ph.D.
</h2>

<h3 style="color: #ef7d22; margin-top: 0.8em">
    Data Scientist
</h3>
<hr>
<br><br>

<p style="font-size: 80%; text-align: right; margin: 10px 0px;">
    david.mertz@gmail.com
</p>
<p style="font-size: 80%; text-align: right; margin: 10px 0px;">
    linkedin.com/in/dmertz/
</p>

</div>

<br><br><br>